<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - BudayaKita</title>
    <link rel="stylesheet" href="../style/about.css">
</head>
<body>

<!--Navigation-->
<nav class="navbar">
    <div class="container">
        <a href="#" class="brand">BudayaKita</a>
        <div class="nav-links">
            <a href="home.html">Home</a>
            <a href="gallery.html">Galeri</a>
            <a href="#" onclick="showAlert()">Blog</a>
            <a href="#">About Us</a>
        </div>
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
    </div>
</nav>

<!-- About Us Section -->
<section class="about-us-section">
    <div class="container">
        <img src="../asset/img/about.jpeg" alt="About"> 
        <h1>About Us</h1>
        <p>BudayaKita adalah platform yang bertujuan untuk melestarikan dan mempromosikan seni pertunjukan tradisional dari seluruh Indonesia. Kami berkomitmen untuk menyediakan informasi yang akurat dan menarik tentang berbagai seni budaya yang kaya dan beragam di tanah air.</p>
    </div>
</section>

<!-- Founders Section -->
<section class="founders-section">
    <div class="container">
        <h2>Founders</h2>
        <div class="founder">
            <img src="../asset/img/Billy.jpg" alt="Founder">
            <h3>Brilliant Fitra Ramadhan</h3>
            <p>F2996YB249 - Full Stack Developer</p>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="footer-container">
        <p>&copy; 2024 BudayaKita. C624-PR161.</p>
    </div>
</footer>

<!-- Alert -->
<div id="alert" class="alert">
    <span class="closebtn" onclick="closeAlert()">&times;</span> 
    Fitur blog sedang dalam pengembangan. Terima kasih atas pengertiannya.
</div>

<script src="../script/about.js"></script>
</body>
</html>
